@tailwind base;
@tailwind components;
@tailwind utilities;

/* Aqui teremos um css global para as nossas páginas, caso não seja possível fazer o que queremos com o tailwind */
/* Este CSS será aplicado para todas as páginas */

/* Reset de CSS */

*, *::after, *::before{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

::root{
    --clr-header-home: #003786;
    --clr-main-home: #E1A54D;
    --clr-btn-home: #0048AE;
    --clr-btn-vagas: #005BD2;
    --clr-btn-orange: #E8A023;
    --clr-font: #302C29;
    --clr-header-empresa: #243B53;
    --clr-main-empresa: #E8A023;
    --clr-detalhes-empresa: #2F4E6D;
}

body, html{
    height: 100%;
    overflow-x: hidden;
}