.paginaCadastro {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
}

/* Estrutura e formatação da section que irá ter os elementos de cadastro */
.caixaFormulario {
  width: 50%;
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding-bottom: 1rem;
  position: relative;
}

.btn_sair {
  position: absolute;
  display: flex;
  align-items: center;
  padding: 1%;
  top: 0;
  left: 0;
}

.tituloCadastro {
  @apply text-font;
  font-weight: 500;
  font-size: clamp(2.5rem, 4vw, 4rem);
  text-align: center;
}

.containerForms {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formulario {
  width: 70%;
}

.formGroup {
  margin-top: 0.5rem;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.estilizacaoInputs {
  width: 100%;
  border-bottom: 1px solid #000;
  margin-bottom: 2%;
  cursor: pointer;
  outline: 0;
  padding-left: .2rem;
}

/* Div responsávwl por centralizar o botão de se inscrever */
.centraalizarBtn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnSubmit {
  width: 50%;
  background-color: #243b53;
  color: #fff;
  padding: 1rem 0;
  border-radius: 10px;
  font-weight: bold;
  margin: 2% 0 3% 0;
  text-align: center;
}

/* Estilização da section direita - Saudação de boas vindas */
.caixaSaudacao {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(47deg, #2f4e6d 75%, #ffc24f);
  flex: 1;
}

.titulo {
  color: #fff;
  font-size: clamp(2rem, 2.5vw, 2.5rem);
  font-weight: bold;
}

.subtitulo {
  color: #fff;
  font-weight: 500;
  text-align: center;
  font-size: clamp(1.25rem, 2.5vw, 2rem);
  margin-bottom: 5%;
  padding: 0 1rem;
}

.logo {
  width: 15rem;
  height: 15rem;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginLink {
  font-weight: 500;
  margin-top: 1.2rem;
}

@media only screen and (max-width: 768px) {
  .caixaSaudacao {
    display: none;
  }

  .formulario {
    width: 90%;
  }

  .btnSubmit {
    width: 100%;
  }
}
