.titulo_candidato{
    font-size: clamp(1rem, 4vw, 4rem);
    font-weight: bold;
    color: #302C29;
    margin-left: 200px;
}

.titulo_conecte{
    font-size: clamp(1rem, 2vw, 3rem);
    color: #302C29;
    text-align: center;
    margin-top: 20px;
}

.botao_linkedin, .botao_email{
    display: flex;
    flex-direction: row;
    background-color: #0077B5;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.botao_email{
    margin-top: 10px;
    background-color: #3E4656;
}

.texto_linkedin, .texto_email{
    font-size: clamp(1rem, 2vw, 3rem);
    color: #fff;
}

.corIcone{
    color: #fff;
}

.baixe{
    font-size: clamp(1rem, 4vw, 3rem);
    font-weight: bold;
    color: #302C29;
    text-align: center;
    margin-top: 30px;
}

.botao_editar{
    font-size: clamp(1rem, 2vw, 2rem);
    border-bottom: 1px solid black;
    margin-top: 15px;
    margin-left: 570px;
    color: #302C29;
}

.clique{
    background-color: #0048AE;
    padding: 20px;
    color: #F0F2FF;
    font-weight: bold;
    border-radius: 10px;
    width: 400px;
    margin-left: 460px;
    text-transform: uppercase;
    margin-top: 30px;
}

