.Conteudo{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.TituloSobre{
    color: #302C29;
    text-align: center;
    margin-bottom: 20px;
    font-size: clamp(1rem, 4vw, 4rem);
    font-weight: 500;
}

.quadrado1{
    position: relative;
    background-color: #0048AE;
    width: 75%;
    height: 70vh;
    border-radius: 0px 200px 0px 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: clamp(1rem, 3vw, 3rem);
    padding: 35px;
    text-align: center;
}

.botao_sobre{
    background-color: #E8A023;
    color: #fff;
    border-radius: 10px;
    padding: 10px 10px;
    width: 250px;
    margin-top: 10px;
    font-size: clamp(1rem, 1.5vw, 3rem);
    font-weight: bold;
}

.botao_sobre:hover{
    background-color: #E1A54D;
    transition: 1s;
}

/* responsividade */

@media screen and (max-width: 1100px) and (min-width: 300px) {
    .Conteudo{
        height: 500px;
    }
}
