.container_cursos{
    width: 100%;
    height: 2000px;
    background-color: var(--clr-btn-orange);
    display: flex;
    flex-direction: column;
    padding: 10rem;
    margin-top: -80px;
}

.title_cursos{
    @apply text-font;
    font-size: 38px;
    font-weight: bold;
    margin-left:150px;
    margin-bottom: 10px;
    background-color: antiquewhite
}

.caixa{
    align-items: center;
    width: 88%;
    height: 950px;
    flex-direction: column;
    margin-left:150px;
    margin-top: 5px;
    background-color: rgb(123, 181, 16)
}

.curso1, .curso2, .curso3{
    width: 100%;
    height: 250px;
    display: flex;
    margin-bottom: 100px;
    background-color: rgb(16, 145, 181)
}

.contabilidade, .gestao, .programacao{
    width: 30%;
    height: 250px;
    background-color: bisque;
    border-radius: 15px;
    margin-left: -1px;
}

.coluna{
    margin-left: 100px;
    width: 77%;
    flex-direction: column;
    background-color: aquamarine;
}

.titulo{
    width: 70%;
    height: 50px;
    text-decoration: underline;
}

.contabilidade_titulo, .gestao_titulo, .programacao_titulo{
    @apply text-font;
    font-size: 33px;
    align-items: center;
}

.descricao{
    width: 75%;
    height: 170px;
    text-align: center;
    text-align: justify;
    margin-top: 30px;
    background-color: #ff3311;
}

.contabilidade_descricao, .gestao_descricao, .programacao_descricao{
    @apply text-font;
    font-size: 22px;
    align-items: center;
}

.title_avaliacao{
    @apply text-font;
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    margin-left:150px;
    margin-top: 80px;
    margin-bottom: 20px;
    background-color: rgb(197, 114, 6)
}

/* RATING */
.rating{
    width: 88%;
    height: 80px;
    margin-left: 150px;
}

.ratingg{
    font-size: 60px;
}