.fundo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.frase1{
    text-align: center;
    font-size: clamp(1rem, 4vw, 4rem);
    font-weight: bold;
    color: #302C29;
}

