.container {
  display: flex;
  justify-content: space-around; /* ou space-between, dependendo do espaçamento desejado */
}

.caixa1 {
  height: 140px;
  margin: 50px;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
}

.caixa4 {
  height: 140px;
  margin: 10px;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
}

