.Conteudo{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo_doacao{
    font-weight: bold;
    color: #302C29;
    text-align: center;
    margin-bottom: 20px;
    font-size: clamp(1rem, 4vw, 4rem);
}

.quadrado1{
    position: relative;
    background-color: #0048AE;
    width: 70%;
    height: 430px;
    border-radius: 0px 200px 0px 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: clamp(1rem, 6vw, 3rem);
    padding: 35px;
    text-align: center;
}

.code{
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    background-color: darkgray;
}