.containerForms{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5% 0 2% 0
}

.forms{
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column
}

.posicionarInput{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.input{
    width: 49%;
    padding: 1% 2%;
    border: 1px solid #000;
    outline: 0;
    display: flex;
    justify-content: space-between;
}

.estilizacaoInput{
    outline: 0;
    width: 100%;
    margin: 2% 0 0 0;
    padding: 1% 2%;
    border: 1px solid #000;
}

.tituloForms{
    @apply text-font;
    font-weight: bold;
    margin: 2% 0;
    font-size: clamp(1.5rem, 4vw, 5rem);
}

.btnContato{
    background-color: #003786;
    width: clamp(6.25rem,24vw,18.75rem);
    height: clamp(2.5rem,7.97vh,3.125rem);
    font-weight: bold;
    color: #fff;
    font-size: clamp(0.5rem,1vw,0.938rem);
    border-radius: 10px;
    margin: 3% 0;
    transition: 1s all;
}

.btnContato:hover{
    box-shadow: 2px 2px 15px 1px #7a7a7a;
    transition: 1s all;
}
