.titulo_form{
    
}

.container{
    margin: auto;
    padding: 20px;
    background-color: #F0F2FF;
    width: 70%;
    border-radius: 10px;
}

.caixa_pequena1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    font-size: 20px;
    padding-top: 30px;
}

.label{
    text-transform: uppercase;
    font-weight: bold;
}

.inputStyle {
    border-bottom: 1px solid black;
    background-color: #F0F2FF;
    outline: 0;
    margin-left: 20px;
}

.inputStyle::placeholder{
    text-transform: lowercase;
    font-weight: normal;
}

.buttonStyle {
    width: 300px;
    height: 40px;
    cursor: pointer;
}

.botao_filtar{
    width: 200px;
    padding: 20px;
    margin-top: 20px;
    margin-left: 550px;
    background-color: #E8A023;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 10px;
}

