.container {
  width: 100%;
  height: auto;
  display: flex;
}

.caixa_pequena1 {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
  width: 300px;
  font-size: clamp(1rem, 2vw, 4rem);
}

.inputStyle {
  height: 60px;
  width: 800px;
  padding: 8px;
  border: 2px solid black;
  outline: 0;
}

.titulo_area{
  width: 800px;
  height: 30px;
}

.tags{
  display: flex;
  font-size: clamp(1rem, 1.6vw, 2rem);
  padding-top: 15px;
}

.diferente{
  display: flex;
}

.bairro, .numero{
  border: 2px solid black;
  height: 40px;
  width: 398px;
  padding: 8px;
  margin-left: 2px;
}

.botao_voltar, .botao_salvar {
  background-color: #E8A023;
  width: 800px;
  color: #fff;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  font-weight: bold;
}

.botao_salvar{
  background-color: #003786;
}

.label{
  padding-top: 10px;
}


