@keyframes slideIn {
  from {
    transform: translateX(100%);
  }

  to {
    transform: default;
  }
}

@keyframes slideOut {
  from {
    transform: default;
  }

  to {
    transform: translateX(100%);
  }
}

.modalEnter {
  animation: slideIn 0.3s ease-in-out;
}

.modalExit {
  animation: slideOut 0.3s ease-in-out forwards;
}

/*Estilização Principal*/
.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 40px;
}

.header .coracao {
  display: flex;
  align-items: center;
  background-color: #afc2ff;
  color: #003786;
  padding: 8px 8px;
  border-radius: 10px;
}

.header .coracao p {
  font-weight: bold;
}

.header .logo {
  z-index: 5;
}

/* .header .logo img {
	transform: translate(-35%);
} */

.header .menu {
  display: flex;
  align-items: center;
  z-index: 12;
}

.header .sideBar {
  position: absolute;
  width: 250px;
  background-color: #fff;
  right: 0px;
  top: 0;
  transform: translateX(-50%);
  z-index: 11;
  border-radius: 10px 0 0 10px;
  padding-bottom: 42px;
}

.header .sideBar ul {
  list-style: none;
  margin-top: 140px;
  margin-left: 8%;
}

.header .sideBar ul li {
  text-transform: uppercase;
  font-weight: bold;
  font-size: clamp(1rem, 1.6vw, 2rem);
}

.header .sideBar ul .coracao {
  margin-top: 20px;
}

.header .sideBar details summary {
  font-size: clamp(1rem, 1.6vw, 2rem) !important;
  margin-top: 8px;
  font-weight: bold;
}

.header .sideBar details p {
  font-size: 20px !important;
  cursor: pointer;
}

.header .sideBar summary::after {
  content: "\25B6";
  margin-left: 0.5em;
  cursor: pointer;
}

.header .sideBar details[open] summary::after {
  content: "\25BC";
  cursor: pointer;
}

/*Responsividade*/

@media screen and (max-width: 1000px) {
  .header {
    padding: 6px 22px;
  }
}

@media screen and (max-width: 720px) {
  .header .logo {
    width: 120px;
  }

  /* .header .logo img {
		transform: translate(40%);
	} */

  .header .sideBar ul {
    margin-top: 82px;
  }

  .header .hidden {
    display: none;
  }

  .header .sideBar {
    width: 210px;
  }

  .coracao{
	margin: 1rem 0 0 8%;
  }
}
