.FormularioEmpresa{
    width: 600px;
    padding-bottom: 100px;
    padding-right: 100px;
}

.frase2{
    text-align: center;
    font-weight: bold;
    color: #fff;
    font-size: clamp(1rem, 4vw, 4rem);
}

.email{
    background-color: #AFC2FF;
    border-radius: 10px 0px 0px 10px;
    padding: 10px;
    width: 300px;
}

.email::placeholder{
    color: #003786;
}

.formulario{
    margin-top: 30px;
    margin-left: 50px;
}

.botao2{
    width: 100px;
    padding: 10px;
    background-color: #003786;
    color: #fff;
    font-weight: bold;
    border-radius: 0px 10px 10px 0px;
}

