::root{
    --clr-header-home: #003786;
    --clr-main-home: #E1A54D;
    --clr-btn-home: #0048AE;
    --clr-btn-vagas: #005BD2;
    --clr-btn-orange: #E8A023;
    --clr-font: #302C29;
    --clr-header-empresa: #243B53;
    --clr-main-empresa: #E8A023;
    --clr-detalhes-empresa: #2F4E6D;
}