.homeGeral {
  position: relative;
  width: 100%;
}

.contentContainer {
  @apply bg-main-empresa;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 10rem; /* Assuming 1rem = 2px, adjust based on your design */
  justify-content: space-between;
  position: relative;
}

.imageContainer {
  width: 50%;
}

.image {
  width: 100%;
  display: flex;
  align-items: baseline;
  position: relative;
}

.formularioEmpresa {
  max-width: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-bottom: 1rem;
}

.frase {
  text-align: center;
  font-weight: bold;
  color: #fff;
  font-size: clamp(1.2rem, 4vw, 4rem);
}

.btnContainer {
  display: flex;
  margin-top: 4rem;
  padding: 0 2rem;
  flex-direction: column;
}

.label{
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: clamp(1.2rem, 2vw, 1.5rem);
  font-weight: bold;
  color: #fafafa;
}

.inputForm{
  width: 100%;
  padding: 15px;
  border-radius: 15px;
  margin-top: 1rem;
}

.btnSubmit {
  width: 40%;
  background-color: #003786;
  color: #fff;
  font-weight: bold;
  padding: 15px;
  border-radius: 15px;
  text-align: center;
  text-wrap: wrap;
  margin-top: 1.5rem;
}

.btnCandidato:hover {
  background-color: #afc2ff;
  color: #003786;
  transition: 1s;
}

.btnEmpresa {
  background-color: #243b53;
}

.btnEmpresa:hover {
  background-color: #b5c8e2;
  color: #302c29;
  transition: 1s;
}

@media screen and (max-width: 768px) {
  .btnContainer {
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    padding: 0;
  }

  .btnCandidato,
  .btnEmpresa {
    width: 80%;
  }

  .contentContainer {
    flex-direction: column;
    padding: 2rem 0;
  }

  .imageContainer {
    width: 100%;
  }

  .formularioEmpresa {
    margin-top: 2rem;
    width: 100%;
    padding: 0;
  }

  .frase{
    width: 100%;

  }

  .label{
    width: 90%;
  }

  .btnSubmit{
    width: 90%;
  }
}
