.fundo_candidato{
    background-color: #E1A54D;
    padding: 2rem 0;
    margin-top: 5vh;
}

.titulo{
    text-align: center;
    color: #fff;
    font-size: clamp(1rem, 5vw, 5rem);
    font-weight: bold;
}

.imagens{
    margin-top: 1rem;       
    display: flex;
    justify-content: space-evenly;
}

.inclusao{
    width: 29%;
    height: 300px;
    cursor: pointer;
    border-radius: 2rem;
}

.btnContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    width: 30%;
    padding: 15px 0;
    background-color: #243B53;
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 25px;
}