.section {
    width: 65%;
    margin: auto;
}

.Titulo{
    margin-top: 20px;
}

.Titulo h2 {
    font-size: 35px;
    font-weight: 700;
}

.candidatosContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.candidatosContent {
    display: flex;
    column-gap: 25px;
    margin-top: 45px;
}

.candidatosContent .candidatosInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.candidatosContent .candidatosInfo h3 {
    font-size: 40px;
    font-weight: 700;
}

.candidatosContent .candidatosInfo p {
    font-size: 25px;
}

.candidatosContent .candidatosInfo .saibaMais {
    font-size: 25px;
    color: #fff;
    background-color: #243b53;
    padding: 8px 20px;
    border-radius: 10px;
    align-self: flex-start;
}

.VejaMais{
    width: 250px;
    font-size: 20px;
    background-color:#243b53;
    color: #fff;
    border-radius: 10px;
    margin-top: 60px;
    padding: 15px;
    margin-left: 40%;
}