.titulo4{
    text-align: center;
    font-weight: bold;
    color: #302C29;
    font-size: clamp(1rem, 4vw, 4rem);
    margin-top: 20px;
}

.quadrado_grande{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.quadrado1, .quadrado2, .quadrado3{
    border: 1px solid #E8A023;;
    width: 400px;
    height: 400px;
    border-radius: 10px;
}

.redonda1, .redonda2, .redonda3{
   margin-top: 20px;
   margin-left: 80px;
}

.redonda1 img, .redonda2 img, .redonda3 img{
    width: 300px;
    height: 300px;
}

.titulo1{
    font-size: clamp(1rem, 3vw, 3rem);
    margin-left: 140px;
}

.descricao{
    font-size: clamp(1rem, 2vw, 2rem);
    text-align: center;
    padding-top: 60px;
}


