.alinhamento{
    background-color: #F0F2FF;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 25px;
}

.fundo_redondo{
    background-color: #D1DAFF;
    padding: 30px;
    width: 300px;
    border-radius: 20px;
}

.conteudo{
    font-size: clamp(1rem, 1.5vw, 2rem);
    text-align: center;
}

.conteudo h2, .conteudo h3, .conteudo p{
    padding-top: 10px;
}

.saiba{
    background-color: #005BD2;
    padding: 8px;
    width: 150px;
    border-radius: 10px;
    color: #F0F2FF;
    margin-top: 20px;
}

.Veja{
    background-color: #E8A023;
    width: 180px;
    color: #fff;
    padding: 15px;
    margin-top: 10px;
    border-radius: 10px;
    font-weight: bold;
    margin-left: 580px;
}