.container {
  display: flex;
  justify-content: center;
}

.caixa1 {
  height: 140px;
  margin: 10px;
  background-color: #d1daff;
  width: 10%; /* Ajuste conforme necessário */
  display: inline-block;
  float: left;
}

.botao_veja {
  @apply bg-header;
 /* #E8A023*/
  cursor: pointer;
  color: #b4ccf4;

}