.container__vagas{
    width: 100%;
    background-color: var(--clr-btn-orange);
    @apply bg-main-landing;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 150px;
}

.title__vagas{
    @apply text-font;
    font-size: 68px;
    font-weight: bold;
}

.subtitle__link{
    margin-top: 2rem;
}

.subtitle__vagas{
    @apply text-font;
    font-size: 33px;
}

/* classes tailwind -  */

/* text-font = Classe de cor de fonte */
/* bg = background-color*/
/* Ex: bg-main-empresa */
/* border = cor da borda */