.alinhamento {
  background-color: #f0f2ff;
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem;
  gap: 2rem;
}

.vagasContainer {
  width: 100%;
  display: flex;
  gap: 4rem;
  flex-wrap: wrap;
}

.fundo_redondo {
  background-color: #d1daff;
  padding: 30px;
  flex: 1;
  border-radius: 20px;
}

.conteudo {
  font-size: clamp(1rem, 1.5vw, 2rem);
  text-align: center;
}

.conteudo h2,
.conteudo h3,
.conteudo p {
  padding-top: 10px;
}

.saiba {
  background-color: #005bd2;
  padding: 8px;
  width: 150px;
  border-radius: 10px;
  color: #f0f2ff;
  margin-top: 20px;
}

.vejaContainer {
  max-width: 80%;
  margin: 15px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.veja {
  background-color: #e8a023;
  width: 36%;
  color: #fff;
  padding: 15px;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
  transition: 1s all;
}

.veja:hover {
  background-color: #cf8e21;
  color: #fff1e3;
}


@media only screen and (max-width: 768px) {
  .veja {
    width: 75%;
  }
}